@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Company Store Management Application</h1>
    <p class="lead">This application lets you manage your stores and companies that are listed on this site.</p>
</div>

<div class="row">
    
</div>